.yc-button {
  cursor: pointer;
  user-select: none;
  outline: none;
  border: 1px solid transparent;
  font-weight: 400;
  background-color: transparent;
  transition: all 0.1s cubic-bezier(0, 0, 1, 1);
  display: inline-flex;
  justify-content: center;
  align-items: center;

  .yc-button-icon {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .yc-spin {
      font-size: inherit;
      color: inherit;
    }
  }
}
// loading
.yc-button-loading {
  cursor: default;
  position: relative;
  &::before {
    content: '';
    display: block;
    z-index: 1;
    position: absolute;
    inset: -1px;
    background-color: #fff;
    opacity: 0.4;
  }
}
.yc-button-disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
// loading
.yc-button-long {
  width: 100%;
}
// type
@colors: {
  primary: rgb(22, 93, 255);
  primary-active: rgb(14, 66, 210);
  outline-active: #e8f3ff;
  text: rgb(78, 89, 105);
  text-active: rgb(229, 230, 235);
};
@type: primary, outline, text;
each(@type,  {
  .yc-button-@{value}{
    & when(@value = primary){
      background-color: @colors[primary];
      color: #fff;
      &:not(.yc-button-loading):not(.yc-button-disabled):active{
       background-color: @colors[primary-active];
      }
   }
   & when(@value = outline){
      border-color: @colors[primary];
      color: @colors[primary];
      &:not(.yc-button-loading):not(.yc-button-disabled):active{
        background-color:@colors[outline-active];
        color: @colors[primary-active];
      }
   }
   & when(@value = text){
       color: @colors[primary];
       &:not(.yc-button-loading):not(.yc-button-disabled):active{
        background-color:rgb(229,230,235);
      }
   }
  }
});
// size
@size: {
  @mini: {
    height: 24px;
    padding: 11px;
    font-size: 12px;
    margin-right: 4px;
  };
  @small: {
    height: 28px;
    padding: 15px;
    font-size: 14px;
    margin-right: 6px;
  };
  @medium: {
    height: 32px;
    padding: 15px;
    font-size: 14px;
    margin-right: 8px;
  };
  @large: {
    height: 36px;
    padding: 19px;
    font-size: 14px;
    margin-right: 8px;
  };
};
each(@size,.(@value,@name){
       @key: replace(~"@{name}", "@", "");
      .yc-button-size-@{key} {
        height: @value[height];
        padding: 0  @value[padding];
        font-size: @value[font-size];
        .yc-button-icon {
          width: @value[font-size];
          height: @value[font-size];
          margin-right: @value[margin-right];
        }
        &.yc-button-shape-circle{
          width: @value[height];
          padding: 0;
        }
        &.yc-button-only-icon{
          width: @value[height];
          padding: 0;
          .yc-button-icon {
            margin: 0 ;
          }
        }
      }
    });
// shape
@shape: {
  square: 2px;
  round: 30px;
  circle: 50%;
};
each(@shape, {
      .yc-button-shape-@{key} {
        border-radius: @value;
      }
});
